@{
    ViewData["Title"] = "News";
}

<hr class="mt-5">
<!-- container -->
<div class="container-fluid px-3 mt-5">

    <h1 class="border text-center p-2 rounded-3">CÔNG NGHỆ</h1>
    <div class="list-group">
        <ul class="nav m-auto">
            <li class="nav-item"><a href="" class="nav-link">MOBILE</a></li>
            <li class="nav-item"><a href="" class="nav-link">GADGET</a></li>
            <li class="nav-item"><a href="" class="nav-link">INTERNET</a></li>
            <li class="nav-item"><a href="" class="nav-link">GAME</a></li>
        </ul>
    </div>

    <div class="row row-cols-1 row-cols-md-2 my-3">
        <div class="col">
            <div class="card">
                <img src="/img/8.jpg" class="card-img-top rounded-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Người nổi tiếng quảng cáo coin đa cấp có thể bị phạt 30 triệu đồng</h5>
                    <p class="card-text">Tại Việt Nam, tiền số và các hình thức đầu tư, huy động vốn bằng tiền số (Initial Coin Offering – ICO) đã xuất hiện từ lâu nhưng đến nay chưa được pháp luật điều chỉnh cụ thể</p>
                    <a href="news-detail.html" class="btn btn-link">Đọc tiếp</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="/img/9.jpg" class="card-img-top rounded-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Elon Musk lên truyền hình nói về coin, tài sản giảm đi 20 tỷ USD</h5>
                    <p class="card-text">Sau màn xuất hiện ở chương trình Saturday Night Live của Elon Musk, cổ phiếu Tesla đã giảm giá mạnh, khiến tài sản CEO công ty này cũng mất đi gần 20 tỷ USD.</p>
                    <a href="#" class="btn btn-link text-muted">Đọc tiếp</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="/img/10.jpg" class="card-img-top rounded-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Top 5 tai nghe được yêu thích nhất 2021</h5>
                    <p class="card-text">Những mẫu tai nghe được đề cử trong danh sách đáp ứng các yêu cầu như: chất âm, thiết kế, hàm lượng công nghệ và hơn hết là hệ sinh thái đi kèm.</p>
                    <a href="#" class="btn btn-link text-muted">Đọc tiếp</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="/img/10.jpg" class="card-img-top rounded-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Top 5 tai nghe được yêu thích nhất 2021</h5>
                    <p class="card-text">Những mẫu tai nghe được đề cử trong danh sách đáp ứng các yêu cầu như: chất âm, thiết kế, hàm lượng công nghệ và hơn hết là hệ sinh thái đi kèm.</p>
                    <a href="#" class="btn btn-link text-muted">Đọc tiếp</a>
                </div>
            </div>
        </div>

    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-center my-5">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
