@model ViewModel.Catalog.Categories.CategoryEditModel

@{
    ViewData["Title"] = "CategoryAssign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-4">
    <div class="card-header">
        <a class="btn btn-success" asp-action="Index" asp-controller="Product">Về danh sách</a>
    </div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @for (var i = 0; i < Model.Categories.Count; i++)
            {
                @Html.CheckBoxFor(m => Model.Categories[i].Checked)
                @Model.Categories[i].Name
                @Html.HiddenFor(m => Model.Categories[i].Id)
                @Html.HiddenFor(m => Model.Categories[i].Name)
            }
            <div class="form-group">
                <input type="submit" value="Lưu lại" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>