@model NavViewModel
@{
    var isAuthenticated = User.Identity.IsAuthenticated;
}
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" asp-action="Index" asp-controller="Home">Trang quản trị</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Language -->
    <form method="post" asp-controller="Home" asp-action="Language" class="d-none d-md-inline-block form-inline me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input type="hidden" asp-for="ReturnUrl" value="@Context.Request.Path" />
            <select class="form-control" onchange="this.form.submit()" asp-for="CurrentLangId"
                    asp-items="@(new SelectList(Model.Languages,"Id", "Name", Model.CurrentLangId))">
            </select>
            @*@Html.DropDownListFor(a=>a.CurrentLangId, new SelectList(Model.Languages, "Id", "Name"))*@
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <i class="fas fa-user fa-fw text-info mx-2"></i>
        </li>
    </ul>

    @if (isAuthenticated)
    {
        <form asp-controller="User" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-secondary mx-2">Đăng xuất</button>
        </form>

        <div class="text-muted">Xin chào ! @User.Identity.Name</div>
    }
    else
    {
        <a class="btn btn-info nav-link" asp-controller="User" asp-action="Login">Đăng nhập</a>
    }

</nav>